/* You can add global styles to this file, and also import other style files */

:root {
  --moss: #004040;
  --error: #F24405;
  --gris: #BDCDD6;
  --gris-bg-readonly: #F7F5EB;

  --comic-neue: "Comic Neue", cursive;
  --roboto: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  max-width: 1920px;
}

body {
  margin: 0;
  font-family: var(--comic-neue), var(--roboto), var(--helvetica);
}

label {
  font-weight: bold;
}

input[readonly] {
  background-color: var(--gris-bg-readonly) !important;
  color: var(--gris);
}

.clr-moss {
  color: var(--moss);
}

.bg-moss {
  background-color: var(--moss);
}

.error {
  color: var(--error);
  display: none;
}

.warning {
  color: var(--error);
}