/* You can add global styles to this file, and also import other style files */

:root {
  --moss: #004040;
  --error: #F24405;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  font-weight: bold;
}

.clr-moss {
  color: var(--moss);
}

.bg-moss {
  background-color: var(--moss);
}

.error {
  color: var(--error);
  display: none;
}